---
title: DQ ConformanceResult
permalink: /DQ_ConformanceResult/
---


| #   | Elements                                     | Usage | Defintion and Recommended Practice                                                                                            |
|-----|----------------------------------------------|-------|-------------------------------------------------------------------------------------------------------------------------------|
| 1   | [specification](/iso-explorer/CI_Citation)   | 1     | Citation for the specification or user requirement used to evaluate the data.                                                 |
| 2   | [explanation](/iso-explorer/CharacterString) | 1     | Brief description of the conformance result.                                                                                  |
| 3   | [pass](/iso-explorer/Boolean)                | 1     | Notification of whether the data passed or failed the conformance test. 'True' indicates passed and 'False' indicates failed. |


### Community Requirements

*M = Mandatory; C = Conditional; R = Recommended; blank cell = user discretion*
# NOAA Rubric
| Community                   | Element       | M/C/R | Notes                                 |
|-----------------------------|---------------|-------|---------------------------------------|
| NOAA Completeness Rubric V2 | specification |       | Same requirements as the ISO standard |
| NOAA Completeness Rubric V2 | explanation   |       | Same requirements as the ISO standard |
| NOAA Completeness Rubric V2 | pass          |       | Same requirements as the ISO standard |

# OneStop Project
| Community       | Element       | M/C/R | Notes                                 |
|-----------------|---------------|-------|---------------------------------------|
| OneStop Project | specification |       | Same requirements as the ISO standard |
| OneStop Project | explanation   |       | Same requirements as the ISO standard |
| OneStop Project | pass          |       | Same requirements as the ISO standard |

[//]: # (### More Information)


[//]: # (**UML**)

[//]: # ()
[//]: # (UML)

[//]: # ([thumb|left|DQ DataQuality.png]&#40;/Image:DQ_DataQuality.png "wikilink"&#41;)